---

---

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/font/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
       url('/font/roboto/roboto-v18-latin-regular.woff') format('woff');
}

// @font-face {
//   font-family: 'Roboto Light';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Roboto Light'), local('Roboto-Light'),
//        url('/font/roboto/roboto-v18-latin-300.woff2') format('woff2'),
//        url('/font/roboto/roboto-v18-latin-300.woff') format('woff');
// }

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('/font/roboto/roboto-v18-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/font/roboto/roboto-v18-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin breakpoint($class) {
  @if $class == phone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == tablet {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $class == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else {
    @warn 'Breakpoint mixin supports: phone, tablet, desktop';
  }
}

body {

  --primaryFont: 'Roboto';
  // --primaryFontLight: 'Roboto Light';
  --primaryFontThin: 'Roboto Thin';
  --primaryFontSize: 1em;
  --transition-time: 150ms;
  --gutter-size: 100px;
  --red: #de1e51;
  --fuschia: #ec118f;
  --cyan: #00a1dd;
  --green: #00a651;
  --orange: #f36f21;
  --yellow: #cccc33;
  --black: #000;

  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  color: white;
  font-family: var(--primaryFont);
  font-size: var(--primaryFontSize);
  margin: 0;

  @include breakpoint(tablet) {
    --gutter-size: 50px;
  }

  @include breakpoint(phone) {
    --gutter-size: 25px;
    // --black: #292929;
    padding-top: 60px;
  }

  &.menu-open {
    overflow: hidden;
  }
}

body, body * {
  box-sizing: border-box;
}

h2 {
  font-size: 33px;
  letter-spacing: 1.5px;

  @include breakpoint(phone) {
    font-size: 26px;
  }
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.site-header {
  position: relative;
  width: calc(100% - calc(2 * var(--gutter-size)));
  height: 135px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 var(--gutter-size) 25px;
  border-bottom: 2px solid white;

  &__menu {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 14px;
    height: calc(33.333% - 5.33px);
    color: var(--black);
    background-color: white;
    transition: all var(--transition-time);
    line-height: 1.3em;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: var(--yellow);
    }
    &:last-child {
      margin-bottom: 0px;
    }

    @include breakpoint(phone) {
      font-size: 16px;
    }
  }

  &__mobile-toggle,
  &__mobile-menu {
    display: none;
  }

  &__logo {
    height: 100%;
    img {
      height: 100%
    }
  }

  @include breakpoint(phone) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 10px var(--gutter-size);
    z-index: 1000;
    background-color: var(--black);
    border: none;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      background-color: white;
      bottom: 0px;
      left: var(--gutter-size);
      right: var(--gutter-size);
    }

    &__menu {
      box-sizing: content-box;
      height: 0;
      opacity: 0;
      width: 100vw;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 0 var(--gutter-size) 0;
      background-color: var(--black);
      transition: all 0.33s;
      overflow: hidden;

      &-item {
        height: 30px;

        &:first-child {
          margin-top: 60px;
        }
      }

      &.menu-open {
        height: calc(100vh - 60px);
        opacity: 1;
      }
    }

    &__mobile-toggle {
      height: 40px;
      width: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0px;

      .burger-top, .burger-mid, .burger-btm {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.33s;
        transform-origin: left center;
        opacity: 1
      }

      &.menu-open {
        .burger-top {
          transform: rotate(45deg);
        }
        .burger-mid {
          transform: translateX(-50%);
          opacity: 0;
        }
        .burger-btm {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.page {
  width: 100%;
  overflow: hidden;
  padding: 0 var(--gutter-size) 50px;

  @include breakpoint(phone) {
    padding: 25px var(--gutter-size) 50px;
  }

  video {
    width: 100%;
  }

  &.portfolioitem-page {
    padding: 0 0 50px;

    @include breakpoint(phone) {
      padding: 0 0 50px;
    }
  }

  &__back-to-top {
    opacity: 0;
    position: fixed;
    right: calc(var(--gutter-size) / 4);
    top: 50vh;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    background: url('/img/up.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: opacity var(--transition-time);
    pointer-events: none;

    &:focus {
      outline: none;
    }

    &.visible {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }

    @include breakpoint(tablet) {
      top: auto;
      right: calc(var(--gutter-size) / 2);
      bottom: calc(var(--gutter-size) / 2);
    }

    @include breakpoint(phone) {
      top: auto;
      bottom: var(--gutter-size);
      right: var(--gutter-size);
    }
  }
}

.notfound-page {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 140px;
    margin: 0;
  }
  h4 {
    color: var(--fuschia);
  }
}

.portfolio-grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -25px 0 0;

  &__item {
    width: calc(33.33% - 25px);
    margin-right: 25px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;

    img {
      width: 100%;
    }

    &.hidden {
      display: none;
    }

    @include breakpoint(tablet) {
      width: calc(50% - 25px);
    }

    @include breakpoint(phone) {
      width: 100% !important;
    }
  }

  h4 {
    margin: 20px 0 10px;
  }

  h3 {
    margin: 0;
    font-family: var(--primaryFontThin);
    letter-spacing: 1.5px;
  }
}

.home-page {

  &__hero {
    margin-bottom: 50px;
  }
}

.about-page {
  margin-top: 50px;

  &__quickfacts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 135px;
      width: 135px;
      flex-shrink: 0;

      @include breakpoint(phone) {
        width: 75px;
        height: 75px;
      }
    }

    &-stack {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 25px;

      span {
        margin-bottom: 10px;
      }

      small {
        margin-left: 5px;
      }

      a {
        color: white;
        text-decoration: none;
      }

      a:last-child {
        margin-top: 20px;
        color: var(--yellow);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    article {
      flex-basis: 50%;
      flex-shrink: 0;

      @include breakpoint(phone) {
        flex-basis: 100%;
      }

      blockquote {
        font-size: 20px;
        margin: 75px 0 20px;
      }

      p {
        margin: 14px 0px;
      }
    }

    img {
      margin-left: var(--gutter-size);
      width: calc(50% - var(--gutter-size));
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(phone) {
        width: 100%;
        margin: 25px 0 0;
      }
    }
  }

  footer {
    width: 100%;
    border-top: 1px solid #808080;
    color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin-top: 50px;

    @include breakpoint(phone) {
      flex-direction: column;
    }

    img {
      width: 190px;
      flex-grow: 0;
      position: relative;
      left: -36px;

      @include breakpoint(phone) {
        position: static;
        margin-bottom: 15px;
      }
    }

    span {
      font-size: 14px;
      line-height: 22px;
      margin-left: -30px;

      @include breakpoint(phone) {
        margin-left: auto;
      }
    }

    strong {
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }
}

.play-page {

  &__hero {
    margin-bottom: 50px;
  }

  &__experiments {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -25px -25px 0;

    @include breakpoint(phone) {
      margin: 0;
    }
  }

  &__experiment-tile-container {
    width: calc(33.333% - 25px);
    margin: 0 25px 25px 0;

    @include breakpoint(tablet) {
      width: calc(50% - 25px);
    }

    @include breakpoint(phone) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__experiment-tile {
    width: 100%;
    cursor: pointer;

    img {
      width: 100%;
    }

    h4 {
      color: var(--fuschia);
      margin: 25px 0;
    }
  }

  &__experiment-lightbox-content {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

.portfolioroot-page {

  &__filter {
    font-size: 18px;
    margin: 25px 0 50px;
    line-height: 25px;
  }

  &__filter-button {

    // &.active {
    //   font-weight: bold;
    // }

    &.communication {
      color: var(--green);
    }

    &.digital {
      color: var(--cyan);
    }

    &.identity {
      color: var(--fuschia);
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.portfolioitem-page {
  background-color: white;
  color: var(--black);

  &__header {
    width: 100%;
    height: 275px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(tablet) {
      height: 200px;
    }

    @include breakpoint(phone) {
      height: 100px;
    }
  }

  &__title {
    position: absolute;
    bottom: 25px;
    left: var(--gutter-size);
    margin: 0;
    color: white;
    letter-spacing: 1px;

    @include breakpoint(phone) {
      display: none;
    }
  }

  &__mobile-title {
    display: none;

    @include breakpoint(phone) {
      display: block;
      left: var(--gutter-size);
      color: var(--black);
      margin: 25px 0 0;
      letter-spacing: 1px;
    }
  }

  &__content {
    padding: 0 var(--gutter-size);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    article {
      flex-basis: 33.33%;
      flex-shrink: 0;

      @include breakpoint(phone) {
        flex-basis: 100%;
      }

      blockquote {
        font-size: 22px;
        margin: 25px 0 14px;

        @include breakpoint(phone) {
          font-size: 20px;
        }
      }

      h4 {
        font-size: 14px;
        margin: 28px 0 -5px;
        letter-spacing: 1.5px;
      }

      p {
        margin: 14px 0px;
      }
    }

    aside {
      flex-basis: 66.67%;
      flex-grow: 0;
      padding: 25px 0 0 50px;

      @include breakpoint(phone) {
        flex-basis: 100%;
        padding-left: 0;
      }

      .sidebar-img {
        width: 100%;
      }

      .plyr {
        width: 100%;
        margin-bottom: 25px;

        &__poster {
          background-color: white;
        }
      }
    }
  }
}

// Photoswipe
.pswp__button--share {
  display: none !important;
}

.pswp__video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    max-width: 100%;
    max-height: calc(100vh - 88px);
  }
}

// Plyr

.plyr__control {
  background: transparent;
  box-shadow: none;
  &.plyr__tab-focus {
    box-shadow: none;
    background: transparent !important;
  }
  &:hover {
    background: transparent !important;
  }
  &:not(.plyr__control--overlaid) {
    display: none;
    @include breakpoint(phone) {
      position: absolute;
      bottom: 5px;
      left: 5px;
      background-color: var(--yellow);
      opacity: 0.8;
      border-radius: 5px;
      z-index: 100;
    }
  }
  .plyr__tooltip {
    display: none;
  }
}
.plyr__control--overlaid {
  background-color: transparent;
  box-shadow: none;
  opacity: 0.8;
  border-radius: 5px;
  @include breakpoint(phone) {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
.plyr--paused {
  .plyr__control:not(.plyr__control--overlaid) {
    display: none;
  }
}
