---

---

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/font/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
       url('/font/roboto/roboto-v18-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/font/roboto/roboto-v18-latin-300.woff2') format('woff2'),
       url('/font/roboto/roboto-v18-latin-300.woff') format('woff');
}

@mixin breakpoint($class) {
  @if $class == phone {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == tablet {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $class == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else {
    @warn 'Breakpoint mixin supports: phone, tablet, desktop';
  }
}

body {

  --primaryFont: 'Roboto';
  --primaryFontLight: 'Roboto Light';
  --primaryFontSize: 1em;
  --transition-time: 150ms;
  --gutter-size: 100px;
  --red: #de1e51;
  --fuschia: #ec118f;
  --cyan: #00a1dd;
  --green: #00a651;
  --orange: #f36f21;
  --yellow: #cccc33;

  width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: var(--primaryFont);
  font-size: var(--primaryFontSize);
  margin: 0;

  @include breakpoint(tablet) {
    --gutter-size: 50px;
  }

  @include breakpoint(phone) {
    --gutter-size: 25px;
  }

}

body, body * {
  box-sizing: border-box;
}

h2 {
  font-size: 33px;
  letter-spacing: 1px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-header {
  width: calc(100% - calc(2 * var(--gutter-size)));
  height: 165px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 var(--gutter-size) 25px;
  border-bottom: 6px solid white;

  &__navList {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: calc(33.333% - 5.33px);
    color: black;
    background-color: white;
    transition: all var(--transition-time);
    line-height: 1.3em;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: var(--yellow);
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__logo {
    height: 100%;
    img {
      height: 100%
    }
  }
}

.page {
  width: 100%;
  overflow: hidden;
  padding: 0 var(--gutter-size) 50px;

  video {
    width: 100%;
  }

  &.portfolioitem-page {
    padding: 0 0 50px;
  }
}

.portfolio-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    width: calc(33.33% - 16.67px);
    margin-bottom: 50px;
    text-decoration: none;
    color: white;

    img {
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: calc(50% - 12.5px);
    }

    @include breakpoint(phone) {
      width: 100% !important;
    }
  }

  h4 {
    margin: 25px 0 10px;
  }

  h3 {
    margin: 0;
    font-family: var(--primaryFontLight);
  }
}

.home-page {

  &__hero {
    margin-bottom: 50px;
  }
}

.about-page {
  margin-top: 50px;

  &__quickfacts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 135px;
      width: 135px;
      border: 2px solid white;
      border-radius: 50%;
    }

    &-stack {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 25px;

      span {
        margin-bottom: 10px;
      }

      small {
        margin-left: 5px;
      }

      a {
        color: white;
        text-decoration: none;
      }

      a:last-child {
        margin-top: 20px;
        color: var(--yellow);
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    article {
      flex-basis: 50%;
      flex-shrink: 0;

      @include breakpoint(phone) {
        flex-basis: 100%;
      }

      blockquote {
        font-size: 20px;
        margin: 75px 0 20px;
      }

      p {
        margin: 14px 0px;
      }
    }

    img {
      margin-left: var(--gutter-size);
      width: calc(50% - var(--gutter-size));
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(phone) {
        width: 100%;
        margin: 25px 0 0;
      }
    }
  }

  footer {
    width: 100%;
    border-top: 1px solid #808080;
    color: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin-top: 50px;

    @include breakpoint(phone) {
      flex-direction: column;
    }

    img {
      width: 200px;
      flex-grow: 0;
      position: relative;
      left: -37px;

      @include breakpoint(phone) {
        position: static;
        margin-bottom: 15px;
      }
    }

    span {
      font-size: 14px;
      line-height: 22px;

      @include breakpoint(phone) {
        text-align: center;
      }
    }

    strong {
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

.play-page {

  &__hero {
    margin-bottom: 50px;
  }

  &__experiments {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -25px -25px 0;

    @include breakpoint(phone) {
      margin: 0;
    }
  }

  &__experiment-tile-container {
    width: calc(33.333% - 25px);
    margin: 0 25px 25px 0;

    @include breakpoint(tablet) {
      width: calc(50% - 25px);
    }

    @include breakpoint(phone) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__experiment-tile {
    width: 100%;
    cursor: pointer;

    img {
      width: 100%;
    }

    h4 {
      color: var(--fuschia);
      margin: 25px 0;
    }
  }

  &__experiment-lightbox-content {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

.portfolioitem-page {
  background-color: white;
  color: black;

  &__header {
    width: 100%;
    height: 275px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(tablet) {
      height: 200px;
    }

    @include breakpoint(phone) {
      height: 150px;
    }
  }

  &__title {
    position: absolute;
    bottom: 25px;
    left: var(--gutter-size);
    margin: 0;
    color: white;
    letter-spacing: 1px;
  }

  &__content {
    padding: 0 var(--gutter-size);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    article {
      flex-basis: 33.33%;
      flex-shrink: 0;

      @include breakpoint(phone) {
        flex-basis: 100%;
      }

      blockquote {
        font-size: 22px;
        margin: 25px 0 14px;
      }

      h4 {
        font-size: 18px;
        margin: 28px 0 14px;
        letter-spacing: 0.5px;
      }

      p {
        margin: 14px 0px;
      }
    }

    aside {
      flex-basis: 66.67%;
      flex-grow: 0;
      padding: 25px 0 0 50px;

      @include breakpoint(phone) {
        flex-basis: 100%;
        padding-left: 0;
      }

      img {
        width: 100%;
      }

      video {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
