<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" href="{{ '/img/favicon.ico' | prepend: site.baseurl }}">
  <meta name="theme-color" content="#000000">

  <!-- Photoswipe stuff -->
  <link rel="stylesheet" href="{{ '/css/photoswipe/photoswipe.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/photoswipe/default-skin/default-skin.css' | prepend: site.baseurl }}">
  <script src="{{ '/js/photoswipe/photoswipe.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/photoswipe/photoswipe-ui-default.min.js' | prepend: site.baseurl }}"></script>

  <!-- Plyr stuff -->
  <script src="https://cdn.plyr.io/3.4.4/plyr.polyfilled.js"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.4.4/plyr.css">

  <!-- Dloft Stuff -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
</head>
