{% if include.override-width != null %}
  <a
    class="portfolio-grid__item {{ include.item.filterType }}"
    href={{ include.item.url }}
    style="width: {{ include.override-width }}"
  >
{% else %}
  <a
    class="portfolio-grid__item {{ include.item.filterType }}"
    href={{ include.item.url }}
  >
{% endif %}
  <img src={{ include.item.thumbnail }} alt={{ include.item.title }} />
  <h4 style="color: var({{ include.item.accentColor }})">
    {{ include.item.type }}
  </h4>
  <h3>{{ include.item.title }}</h3>
</a>
