<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page about-page">
    <article>
      <div class="about-page__quickfacts">
        <img alt="Dee Loft"/>
        <div class="about-page__quickfacts-stack">
          <span>
            <strong>Deanne Loft</strong><small>RGD</small>
          </span>
          <a href="tel:9022204981">902.220.4981</href>
          <a href="mailto:deanneloft@gmail.com">
            deanneloft@gmail.com
          </a>
          <a href="https://www.linkedin.com/in/deanneloft/">
            LinkedIn
          </a>
        </div>
      </div>
      <div class="about-page__text">
        {{ page.content | markdownify }}
      </div>
    </div>
    <aside>
      <img src={{ page.sideImage }}/>
    </aside>
    <footer>
      <img src="/img/RGD-logo.svg" alt="RGD Professionals">
      <span>
        A qualified, experienced professional / Registered Graphic Designers are professionals who have been granted the right to use the R.G.D. designation, signifying their education, training and experience in graphic design and their ability to practice in the profession and perform to the standard of competence specified by the Association of Registered Graphic Designers of Ontario and the Examination Board for Registered Graphic Designers.
      </span>
    </footer>
  </div>
</body>
