<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="home-page">
    <div class="home-page__hero">
      <video poster={{ page.hero.thumbnail }} controls>
        <source src={{ page.hero.file }} type="video/mp4">
      </video>
    </div>
    <h2>Featured Work</h2>
    <div class="home-page__featured">
      {% for item in site.portfolio_items limit:3 %}
        <a href={{ item.url }}>
          <img src={{ item.thumbnail }} alt={{ item.title }} />
          <h3>{{ item.title }}</h3>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
