<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page home-page">
    <div class="home-page__hero">
      <video poster={{ page.hero.thumbnail }} controls>
        <source src={{ page.hero.file }} type="video/mp4">
      </video>
    </div>
    <h2>Featured Work</h2>
    <div class="portfolio-grid">
      {% for portfolio_item in site.portfolio_items limit:3 %}
        {% include portfolio-grid-item.html item=portfolio_item %}
      {% endfor %}
    </div>
  </div>
</body>
