<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page home-page">
    <div class="home-page__hero">
      <video poster={{ page.hero.thumbnail }} controls>
        <source src={{ page.hero.file }} type="video/mp4">
      </video>
    </div>
    <h2>Featured Work</h2>
    <div class="portfolio-grid">
      {% for featured in page.featured_portfolio_items %}
        {% assign item = site.portfolio_items | where:"slug", featured | first %}
        {% include portfolio-grid-item.html item=item override-width="calc(33.33% - 25px)" %}
      {% endfor %}
    </div>
  </div>
</body>
