<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="play-page">
    <div class="play-page__hero">
      <video poster={{ page.hero.thumbnail }} controls>
        <source src={{ page.hero.file }} type="video/mp4">
      </video>
    </div>
    <h2>Experiments and Side Projects</h2>
    <div class="play-page__experiments">
      {% for item in page.experiments %}
        <div class="play-page__experiment-tile-container">
          <div class="play-page__experiment-tile">
            <img src={{ item.thumbnail }}>
            <h3>{{ item.title }}</h3>
          </div>
          <div class="play-page__lightbox-content">
            {% if item.video != null %}
              <video poster={{ item.video.thumbnail }}>
                <source src={{ item.video.file }} type="video/mp4">
              </video>
            {% else %}
              {% for image in item.images %}
                <img src={{ image }}>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
