<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="page portfolioroot-page">
    <div class="portfolioroot-page__filter">
      <span>Sort by /</span>
      <span class="portfolioroot-page__filter-button communication">
        communication
      </span>
      <span>/</span>
      <span class="portfolioroot-page__filter-button digital">
        digital
      </span>
      <span>/</span>
      <span class="portfolioroot-page__filter-button identity">
        identity
      </span>
      <span>/</span>
      <span class="portfolioroot-page__filter-button all">
        all
      </span>
    </div>
    <div class="portfolio-grid">
      {% for portfolio_item in site.portfolio_items %}
        {% include portfolio-grid-item.html item=portfolio_item %}
      {% endfor %}
    </div>
    <button class="page__back-to-top" />
  </div>
  <script src="{{ '/js/portfolio.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/backtotop.js' | prepend: site.baseurl }}"></script>
</body>
