@import './variables.scss';

body {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: $primaryFont;
  font-size: $primaryFontSize;
  padding: 0px 100px;
}

body, body * {
  box-sizing: border-box;
}
