$primaryFont: 'Roboto';
$primaryFontLight: 'Roboto Light';
$primaryFontSize: 1em;
$transition-time: 150ms;

$red: #de1e51;
$fuschia: #ec118f;
$cyan: #00a1dd;
$green: #00a651;
$orange: #f36f21;
$yellow: #cccc33;
